<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
		<!--Online using Microsoft 365-->
		<add name="Connect"
			 connectionString="Url=https://{env-name}.api.crm.dynamics.com;Username={username}@{env-name}.onmicrosoft.com;Password={mypassword};" />
	</connectionStrings>
</configuration>