<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.46.2" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.23.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
</packages>