<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.5" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.0.5" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.0.5" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.0.7" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net461" />
</packages>