<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.22" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.22" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net462" />
</packages>