<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="Connect"
	  connectionString="Url=https://powerappstest788.crm.dynamics.com;Username=MichelleChen@PowerAppsTest788.onmicrosoft.com;Password=PowerApps2022;" />
</connectionStrings>
</configuration>