<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--TODO Create an Azure app registration in your tenant and set its values here-->
		<add key="Client-ID" value="00000000-0000-0000-0000-000000000000" /> <!--Application (client) ID-->
		<add key="Tenant-ID" value="00000000-0000-0000-0000-000000000000" /> <!--Directory (tenant) ID-->

		<!--TODO First, uncomment the client secret line-->
		<!--TODO Next, add a client secret to your app registration and copy/paste it's value here-->
		<!--<add key="Client-Secret" value=" " />-->

		<!--TODO Obtain your environment URLs from Power Apps under Settings > Developer resources-->
		<add key="Resource-URL" value="https://myorg.crm.dynamics.com" />
		<add key="Service-Root" value="https://myorg.api.crm.dynamics.com/api/data/v9.2/" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
