<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.5" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="9.0.2.4" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.29.0" targetFramework="net462" />
  <package id="Microsoft.PowerApps.Sample.Helpers-CS" version="1.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
</packages>