<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	
  <connectionStrings>
    <!-- 
      ** !IMPORTANT! **
      Be mindful that the connection information you enter here will be available to anyone with access to this file.
      Do not push changes to this file to a cloned GitHub repository.
	  
	  This file is used by several Web API samples including: AsyncParallelOperations, BasicOperations,
	  ConditionalOperations, ParallelOperations, and QueryData.
    -->

    <add name="Connect"
         connectionString="Url=https://{myorg}.api.crm.dynamics.com;
         Authority=null;
         ClientId=51f81489-12ee-4a9e-aaae-a2591f45987d;
         RedirectUrl=app://58145B91-0C36-4500-8554-080854F2AC97;
         UserPrincipalName={user}@{myorg}.onmicrosoft.com;
         Password={password};
         CallerObjectId=null;
         Version=9.1;
         MaxRetries=3;
         TimeoutInSeconds=180;
         "/>
  </connectionStrings>

</configuration>