<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
 <!--Online using Office 365-->
<add name="Connect"
connectionString="Url=https://lpmars.crm.dynamics.com; Username=admin@lpmars.onmicrosoft.com; Password=Micr0s0ft; authtype=Office365" />
   

<!-- On-premises with provided user credentials-->
<!-- <add name="Connect"
connectionString="Url=http://yourServer/yourOrgName; Domain=yourDomain; Username=yourUserName; Password=yourPassword; authtype=AD"/>-->

<!--On-premises using Windows integrated security-->
<!--<add name="Connect"
connectionString="Url=http://yourServer/yourOrgName; authtype=AD"/> -->

<!--On-Premises (IFD) with claims-->
<!--<add name="Connect"
connectionString="Url=https://yourOrgName.yourServer.com/yourOrgName; Username=yourUserName@yourOrgName; Password=yourPassword; authtype=IFD"/>-->
</connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>