<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.3" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.1.0" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.1.0" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.1.0.1" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="8.1.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.19.208020213" targetFramework="net461" />
</packages>