<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!--Obtain these values from the Azure app registration-->
    <add key="Client-ID" value="4bfce595-7819-423c-b0bd-a053ff97fb99"/>
    <add key="Tenant-ID" value="effdd265-a4b3-4bbf-90df-2794e5f57515"/>
    <add key="Client-Secret" value="5-=?11%-0H;%2S[eIce#Wn+)akI8"/>
    
    <!--Obtain these values from D365 under Settings > Customization > Developer Resources-->
    <add key="Resource-URL" value="https://crmue2.crm.dynamics.com"/>
    <add key="Service-Root" value="https://crmue2.api.crm.dynamics.com/api/data/v9.1/"/>
  </appSettings>
</configuration>