<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
    To run all samples without being prompted for login credentials, un-comment and edit one of the example connection strings below using appropriate values for your environment.
    Otherwise, you will be prompted for login information when you run a sample project.   
    
    Use the system.diagnostics/switches keys below to control levels of logging.
    -->
    <!-- 
      ** !IMPORTANT! **
      Be mindful that the connection information you enter in these will be available to anyone with access to this file.
      Do not push changes to this file to a cloned GitHub repository.
 
    -->
    <!--Online using OAuth-->
    <!--<add name="Connect"
 connectionString="
  AuthType=OAuth;
  Username=jsmith@contoso.onmicrosoft.com;
  Password=passcode;
  Url=https://contosotest.crm.dynamics.com;
  AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;
  RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;
  TokenCacheStorePath=d:\MyTokenCache;
  LoginPrompt=Auto"/>-->
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchName="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="fileListener" />
        </listeners>
      </source>
      <source name="Microsoft.Xrm.Tooling.CrmConnectControl" switchName="Microsoft.Xrm.Tooling.CrmConnectControl" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="fileListener" />
        </listeners>
      </source>
      <!--ADALListener conflicts with using ADAL libraries directly without the Xrm.Tooling.Connector assemblies.
      Uncomment this if you are using the Xrm.Tooling.Connector-->
      <!--<source name="Microsoft.IdentityModel.Clients.ActiveDirectory" switchName="Microsoft.IdentityModel.Clients.ActiveDirectory" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
          <remove name="Default"/>
          <add name="ADALListener"/>
        </listeners>
      </source>-->
    </sources>
    <switches>
      <!-- 
						Possible values for switches: Off, Error, Warning, Info, Verbose
								All"        includes Error, Warning, Info, Verbose, Activity Tracing Trace levels
								ActivityTracing:  Just Activity Tracing
								Verbose:    includes Error, Warning, Info, Trace levels
								Info:       includes Error, Warning, Info levels
								Warning:    includes Error, Warning levels
								Error:      includes Error level
				-->
      <add name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" value="Error" />
      <add name="Microsoft.Xrm.Tooling.CrmConnectControl" value="Error" />
      <add name="Microsoft.IdentityModel.Clients.ActiveDirectory" value="Error" />
    </switches>
    <sharedListeners>
      <add name="fileListener" type="Microsoft.Xrm.Tooling.Connector.DynamicsFileLogTraceListener, Microsoft.Xrm.Tooling.Connector" />
      <add name="fileListener" type="Microsoft.Xrm.Tooling.Connector.DynamicsFileLogTraceListener, Microsoft.Xrm.Tooling.Connector" BaseFileName="PowerApps-Sample-Log" Location="LocalUserApplicationDirectory" MaxFileSize="52428800" />
      <!--
      fileListener Log written to 
      \\{Computer Name}\Users\{UserName}\AppData\Roaming\PowerApps\{Sample Project Name}\1.0.0.0\PowerApps-Sample-Log-{YYYY}-{MM}-{DD}.log
      -->
      <!--ADALListener conflicts with using ADAL libraries directly without the Xrm.Tooling.Connector assemblies.
      Uncomment this if you are using the Xrm.Tooling.Connector-->
      <!--<add name="ADALListener"
        type="Microsoft.Xrm.Tooling.Connector.DynamicsFileLogTraceListener, Microsoft.Xrm.Tooling.Connector"
        BaseFileName="PowerApps-Sample-Log-ADAL"
        Location="LocalUserApplicationDirectory"
        MaxFileSize="52428800"/>-->
      <!--
      ADALListener Log written to 
      \\{Computer Name}\Users\{UserName}\AppData\Roaming\PowerApps\{Sample Project Name}\1.0.0.0\PowerApps-Sample-Log-ADAL-{YYYY}-{MM}-{DD}.log
      -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Workflow" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Tooling.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.29.0.1078" newVersion="2.29.0.1078" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>