<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!--Un-comment and edit one of the example connection strings below using appropriate values for your environment -->

    <!-- 
      ** !IMPORTANT! **

    If you have cloned this repository:
     
        Do not push your changes to this file to the repository.

        Your changes to this file will include the connection 
        information you use to run the samples. If you push your changes to this file, 
        your connection information including your login and password information will 
        be visible to anyone with access to your cloned repository.

        Before you edit this file, run the following GIT command to remove this file 
        from the index of tracked files for your repo:


        > git update-index <hyphen><hyphen>assume-unchanged common-data-service/App.config

        Note: Replace <hyphen> with '-'. Double hyphen characters are not valid within an XML comment.



        Git documentation: https://git-scm.com/docs/git-update-index

    -->
    
<!--Online using Office 365-->
<!--<add name="Connect"
connectionString="Url=https://yourOrgName.crm.dynamics.com; Username=UserName@yourOrgName.onmicrosoft.com; Password=yourPassword; authtype=Office365; RequireNewInstance=True" />-->
   
<!-- On-premises with provided user credentials-->
<!-- <add name="Connect"
connectionString="Url=http://yourServer/yourOrgName; Domain=yourDomain; Username=yourUserName; Password=yourPassword; authtype=AD; RequireNewInstance=True" />-->

<!--On-premises using Windows integrated security-->
<!--<add name="Connect"
connectionString="Url=http://yourServer/yourOrgName; authtype=AD; RequireNewInstance=True" /> -->

<!--On-Premises (IFD) with claims-->
<!--<add name="Connect"
connectionString="Url=https://yourOrgName.yourServer.com/yourOrgName; Username=yourUserName@yourOrgName; Password=yourPassword; authtype=IFD; RequireNewInstance=True" />-->
</connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>