<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!--Un-comment and edit one of the example connection strings below using appropriate values for your environment -->
    
<!--Online using Office 365-->
<!--<add name="Connect"
connectionString="Url=https://yourOrgName.crm.dynamics.com; Username=UserName@yourOrgName.onmicrosoft.com; Password=yourPassword; authtype=Office365; RequireNewInstance=True" />-->
   
<!-- On-premises with provided user credentials-->
<!-- <add name="Connect"
connectionString="Url=http://yourServer/yourOrgName; Domain=yourDomain; Username=yourUserName; Password=yourPassword; authtype=AD; RequireNewInstance=True" />-->

<!--On-premises using Windows integrated security-->
<!--<add name="Connect"
connectionString="Url=http://yourServer/yourOrgName; authtype=AD; RequireNewInstance=True" /> -->

<!--On-Premises (IFD) with claims-->
<!--<add name="Connect"
connectionString="Url=https://yourOrgName.yourServer.com/yourOrgName; Username=yourUserName@yourOrgName; Password=yourPassword; authtype=IFD; RequireNewInstance=True" />-->
</connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>